#
# Default helpers.rc for Expidus's Preferred Applications
#
# Copyright (c) 2005-2006 Benedikt Meurer <benny@expidus.org>
#

WebBrowser=firefox
MailReader=thunderbird
TerminalEmulator=expidus1-terminal
FileManager=lunar
